In [48]:
import numpy as np
import pandas as pd


#Generating a Dataframe manually 
np.random.seed(42)
my_data = np.random.randint(0,100,(4,3))

my_row = ['USA','CAN','MEX','BRA']
my_col = ['JAN','FEB','MAR']

df = pd.DataFrame(data=my_data, index=my_row, columns=my_col)

information = np.array([[1776, 450, 996],[1867,83,320],[1821,129,123],[1945,350,290]])
my_row1 = ['USA','CAN','MEX','BRA']
my_col1 = ['Founded','POP(Mill)','GDP(Bill)']

df1 = pd.DataFrame(data=information, index=my_row1, columns=my_col1)

In [49]:
df

     JAN  FEB  MAR
USA   51   92   14
CAN   71   60   20
MEX   82   86   74
BRA   74   87   99

In [50]:
df1

     Founded  POP(Mill)  GDP(Bill)
USA     1776        450        996
CAN     1867         83        320
MEX     1821        129        123
BRA     1945        350        290

In [51]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
Index: 4 entries, USA to BRA
Data columns (total 3 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Founded    4 non-null      int32
 1   POP(Mill)  4 non-null      int32
 2   GDP(Bill)  4 non-null      int32
dtypes: int32(3)
memory usage: 80.0+ bytes