In [24]:
import numpy as np
import pandas as pd

df = pd.read_csv("C:\\Users\\User\\Desktop\\Machine Learning and Data Science\\UNZIP_FOR_NOTEBOOKS_FINAL\\DATA\\tips.csv")
#print(df)

In [25]:
df["sex"]
df["sex"] == "male".title()
df["total_bill"] >= 40
result= df[(df["sex"] == "male".title()) & (df["total_bill"] >= 40)]

In [26]:
print(result)

     total_bill    tip   sex smoker   day    time  size  price_per_person  \
59        48.27   6.73  Male     No   Sat  Dinner     4             12.07
95        40.17   4.73  Male    Yes   Fri  Dinner     4             10.04
142       41.19   5.00  Male     No  Thur   Lunch     5              8.24
156       48.17   5.00  Male     No   Sun  Dinner     6              8.03
170       50.81  10.00  Male    Yes   Sat  Dinner     3             16.94
182       45.35   3.50  Male    Yes   Sun  Dinner     3             15.12
184       40.55   3.00  Male    Yes   Sun  Dinner     2             20.27
212       48.33   9.00  Male     No   Sat  Dinner     4             12.08

          Payer Name     CC Number Payment ID
59       Brian Ortiz  6.596450e+15    Sat8139
95     Aaron Bentley  1.800270e+14    Fri9628
142     Eric Andrews  4.356530e+15   Thur3621
156    Ryan Gonzales  3.523150e+15    Sun7518
170    Gregory Clark  5.473850e+15    Sat1954
182     Jose Parsons  4.112210e+15    Sun2337
184      Stephen Cox  3.547800e+15    Sun5140
212  Alex Williamson  6.762190e+11    Sat4590