In [31]:
import numpy as np
import pandas as pd

df = pd.read_csv("C:\\Users\\User\\Desktop\\Machine Learning and Data Science\\UNZIP_FOR_NOTEBOOKS_FINAL\\DATA\\tips.csv")
df.head(11)

,total_bill,tip,sex,smoker,day,time,size,price_per_person,Payer Name,CC Number,Payment ID
0,16.99,1.01,Female,No,Sun,Dinner,2,8.49,Christy Cunningham,3.560330e+15,Sun2959
1,10.34,1.66,Male,No,Sun,Dinner,3,3.45,Douglas Tucker,4.478070e+15,Sun4608
2,21.01,3.50,Male,No,Sun,Dinner,3,7.00,Travis Walters,6.011810e+15,Sun4458
3,23.68,3.31,Male,No,Sun,Dinner,2,11.84,Nathaniel Harris,4.676140e+15,Sun5260
4,24.59,3.61,Female,No,Sun,Dinner,4,6.15,Tonya Carter,4.832730e+15,Sun2251
5,25.29,4.71,Male,No,Sun,Dinner,4,6.32,Erik Smith,2.131400e+14,Sun9679
6,8.77,2.00,Male,No,Sun,Dinner,2,4.38,Kristopher Johnson,2.223730e+15,Sun5985
7,26.88,3.12,Male,No,Sun,Dinner,4,6.72,Robert Buck,3.514790e+15,Sun8157
8,15.04,1.96,Male,No,Sun,Dinner,2,7.52,Joseph Mcdonald,3.522870e+15,Sun6820
9,14.78,3.23,Male,No,Sun,Dinner,2,7.39,Jerome Abbott,3.532120e+15,Sun3775
10,10.27,1.71,Male,No,Sun,Dinner,2,5.14,William Riley,5.662880e+11,Sun2546

In [32]:
df['tip_%'] = np.round(df['tip']/df['total_bill'],3)
df['tip_bill'] = np.round(df['tip']/df['total_bill']*100, 2)

In [33]:
df.head(12)

,total_bill,tip,sex,smoker,day,time,size,price_per_person,Payer Name,CC Number,Payment ID,tip_%,tip_bill
0,16.99,1.01,Female,No,Sun,Dinner,2,8.49,Christy Cunningham,3.560330e+15,Sun2959,0.059,5.94
1,10.34,1.66,Male,No,Sun,Dinner,3,3.45,Douglas Tucker,4.478070e+15,Sun4608,0.161,16.05
2,21.01,3.50,Male,No,Sun,Dinner,3,7.00,Travis Walters,6.011810e+15,Sun4458,0.167,16.66
3,23.68,3.31,Male,No,Sun,Dinner,2,11.84,Nathaniel Harris,4.676140e+15,Sun5260,0.140,13.98
4,24.59,3.61,Female,No,Sun,Dinner,4,6.15,Tonya Carter,4.832730e+15,Sun2251,0.147,14.68
5,25.29,4.71,Male,No,Sun,Dinner,4,6.32,Erik Smith,2.131400e+14,Sun9679,0.186,18.62
6,8.77,2.00,Male,No,Sun,Dinner,2,4.38,Kristopher Johnson,2.223730e+15,Sun5985,0.228,22.81
7,26.88,3.12,Male,No,Sun,Dinner,4,6.72,Robert Buck,3.514790e+15,Sun8157,0.116,11.61
8,15.04,1.96,Male,No,Sun,Dinner,2,7.52,Joseph Mcdonald,3.522870e+15,Sun6820,0.130,13.03
9,14.78,3.23,Male,No,Sun,Dinner,2,7.39,Jerome Abbott,3.532120e+15,Sun3775,0.219,21.85
10,10.27,1.71,Male,No,Sun,Dinner,2,5.14,William Riley,5.662880e+11,Sun2546,0.167,16.65
11,35.26,5.00,Female,No,Sun,Dinner,4,8.82,Diane Macias,4.577820e+15,Sun6686,0.142,14.18