In [4]:
import pandas as pd
import numpy as np

# Used to interpolate a number in a missing series. More like trying to guess what the missing value would be based
# on the available data

airline_ticket = {'First class':100, 'Business class':np.nan, 'Economy-plus':50, 'Economy':30}
ser = pd.Series(airline_ticket)
ser.interpolate()

First class       100.0
Business class     75.0
Economy-plus       50.0
Economy            30.0
dtype: float64

In [ ]:
ser